name: CI

on: [push, pull_request]

jobs:
  test:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniconda-version: latest
          activate-environment: test
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        shell: bash -l {0}
        run: conda install pytest locket numpy toolz pandas blosc pyzmq pyarrow -c conda-forge

      - name: Install
        shell: bash -l {0}
        run: python setup.py install

      - name: Run Tests
        shell: bash -l {0}
        run: |
          set -ex
          if [ $PYTHON_VERSION == "3.7" ]; then
            pytest partd --doctest-modules --verbose
          else
            pytest partd --verbose
          fi
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}

